main.importer {
  form {
    textarea {
      width: 98%;
      height: 20vh !important;
      padding: 0.5em;
    }

    .upload input {
      margin-inline-start: 1em;
    }

    button.submit {
      margin: 0 auto;
      display: block;
    }

    p.error {
      margin: 10px 0;
      color: red;
    }

    pre.error {
      overflow-x: auto;
      padding-bottom: 1em;
    }

    .wait {
      display: none;
    }
  }
}
