@include mq-is-col1 {
  .analyse__tools {
    border-radius: 0;

    .sub-box {
      order: 0;
    }

    .analyse__fork,
    .gamebook-edit {
      order: 1;
    }

    .analyse__moves {
      order: 2;
    }
  }

  .analyse__controls {
    height: auto;
    touch-action: pan-y;
    flex-wrap: wrap;

    .fbt {
      flex: 1;
      margin: 3px 2px 0;
      border: 1px solid rgb(from $c-clearer r g b / calc(alpha * 0.05));
      border-bottom: none;
      border-radius: $box-radius-size $box-radius-size 0 0;
      background: color-mix(in oklab, $c-bg 50%, $c-bg-page);

      &:not(.move) {
        min-height: 3em;
      }

      &.active {
        padding-top: 0;
        border-bottom: none;
      }
    }

    .jumps {
      order: 1;
      padding: 2px;
      margin-bottom: 2px;
      width: 100%;
      height: 3em;

      .move {
        background: color-mix(in oklab, $c-bg 50%, $c-bg-page);
        border: 1px solid rgb(from $c-clearer r g b / calc(alpha * 0.05));

        &[data-act='first'],
        &[data-act='last'] {
          flex: 2;
        }
      }
    }
  }

  .analyse[data-active-tool] .analyse__tools {
    border-radius: 0 0 $box-radius-size $box-radius-size;
    border-top: 3px solid $c-secondary;
  }
}
